@model LangerSalesOrdersWebsite.Models.SalesOrder.SalesOrderListModel
@{
    ViewData["Title"] = TextResources.Title_SalesOrderList;
}

<h4>
    @ViewData["Title"]
</h4>
<table class="table-striped table-condensed table-nowrap">
    <thead>
        <tr>
            <th>
                @TextResources.Label_SalesOrderNumber
            </th>
            <th>
                @TextResources.Label_OrderDate
            </th>
            <th>
                @TextResources.Label_DueDate
            </th>
            <th>
                @TextResources.Label_ShipDate
            </th>
            <th>
                @TextResources.Label_Status
            </th>
            <th>
                @TextResources.Label_PurchaseOrderNumber
            </th>
            <th>
                @TextResources.Label_AccountNumber
            </th>
            <th>
                @TextResources.Label_SubtotalAmount
            </th>
            <th>
                @TextResources.Label_TaxAmount
            </th>
            <th>
                @TextResources.Label_FreightAmount
            </th>
            <th>
                @TextResources.Label_TotalAmountDue
            </th>
            <th>
                @TextResources.Label_SalesPersonName
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items != null)
        {
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.SalesOrderNumber
                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                    <td>
                        @item.DueDate
                    </td>
                    <td>
                        @item.ShipDate
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.PurchaseOrderNumber
                    </td>
                    <td>
                        @item.AccountNumber
                    </td>
                    <td>
                        @item.SubtotalAmount
                    </td>
                    <td>
                        @item.TaxAmount
                    </td>
                    <td>
                        @item.FreightAmount
                    </td>
                    <td>
                        @item.TotalAmountDue
                    </td>
                    <td>
                        @item.SalesPersonName
                    </td>
                </tr>
            }
        }
    </tbody>
</table>